.title-small {
  letter-spacing: 0.5rem;
  font-size: 1.7rem;
}

.text-primary {
  color: var(--primary);
}
.text-hint {
  color: var(--hint);
}

:root {
  --font-familylogo: "Rubik Doodle Shadow", "sans-serif";
  --font-family2: "Lobster", sans-serif;
  --font-family3: "Press Start 2P", sans-serif;
  --font-family4: "Dhurjati", sans-serif;
  --font-family5: "Lobster", sans-serif;
  --light: #00c3ff;
  --primary: #2071e7;
  --lighter: rgb(44, 164, 216);
  --text: #333;
  --background: #c0c1c0;
  --hint: #999;
  --border: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}

/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
header {
  background: linear-gradient(to right, rgb(17, 6, 6));
  display: flex;
  flex-direction: row wrap;
  height: 100px;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid;
}
@media (max-width: 480px) {
  header {
    padding: 5px;
    height: 150px;
    flex-direction: column;
    text-align: center;
  }
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo h1 {
  font-family: var(--font-familylogo);
  font-size: 2.5rem;
  padding: 0 0 0 0.5rem;
}
@media (max-width: 480px) {
  header .logo h1 {
    font-size: 1rem;
  }
}
header img {
  height: 90px;
  border-radius: 200px;
}
@media (max-width: 480px) {
  header img {
    height: 60px;
  }
}
header ul {
  justify-content: end;
  display: flex;
  flex-direction: row;
}
header ul li {
  list-style: none;
  margin: 0 0 0 3rem;
  transition: 0.2s;
}
header ul li:hover {
  opacity: 0.5;
  background: var(--border);
  border-radius: 0.5rem;
  padding: 0.5rem;
}
header ul li a {
  text-decoration: none;
  color: black;
  font-family: var(--font-family2);
  font-size: 1.5rem;
}

.welcome {
  background: var(--background);
  height: 80vh;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}
.welcome .welcome-content {
  text-align: center;
}
.welcome .welcome-content p {
  padding-bottom: 1rem;
  font-size: 4rem;
  font-family: var(--font-family4);
  color: var(--text);
}
@media (max-width: 480px) {
  .welcome .welcome-content p {
    font-size: 2.2rem;
  }
}
.welcome .welcome-content h2 {
  padding-bottom: 0rem;
  font-family: var(--font-family3);
  font-size: 4rem;
  color: var(--text);
  color: var(--text);
}
@media (max-width: 480px) {
  .welcome .welcome-content h2 {
    font-size: 2rem;
  }
}
.welcome .welcome-content button {
  color: white;
  background: #000000;
  border: 0;
  margin: 0 15px 0 15px;
  border-radius: 0.5rem;
  font-size: 20px;
  padding: 1rem;
  cursor: pointer;
  transition: 0.2s;
}
@media (max-width: 480px) {
  .welcome .welcome-content button {
    font-size: 15px;
  }
}
.welcome .welcome-content button:hover {
  opacity: 0.5;
  cursor: pointer;
  font-size: 25px;
}
@media (max-width: 480px) {
  .welcome .welcome-content button:hover {
    font-size: 18px;
  }
}
.welcome .welcome-content .social-icons {
  padding: 2rem;
  text-decoration: none;
}
@media (max-width: 480px) {
  .welcome .welcome-content .social-icons {
    padding: 1rem;
  }
}
.welcome .welcome-content .social-icons i {
  padding: 0 2rem 0 2rem;
  font-size: 3rem;
  color: #000000;
}

.about-me {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  background: #dfdddd no-repeat;
  height: 200px;
}
@media (max-width: 480px) {
  .about-me {
    height: 50vh;
  }
}
.about-me .about-me-content {
  font-size: 1.5rem;
}
@media (max-width: 480px) {
  .about-me .about-me-content {
    font-size: 1.4rem;
  }
}

.h22 {
  text-align: center;
  font-size: 2.5rem;
  background: var(--background);
}
@media (max-width: 480px) {
  .h22 {
    font-size: 2rem;
    padding: 1rem;
  }
}

.contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  height: 40vh;
  flex-direction: column;
  text-align: center;
  color: white;
  background: var(--text);
}
.contact .cc {
  height: 100px;
  font-size: 4rem;
  text-align: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  .contact .cc {
    font-size: 2rem;
  }
}
.contact .cc h2 {
  padding-bottom: 20px;
}
.contact .cc input {
  text-align: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  outline: 0;
  padding: 1rem 2rem;
  min-width: 400px;
  line-height: 2rem;
  font-size: 1.3rem;
}
@media (max-width: 480px) {
  .contact .cc input {
    font-size: 1rem;
    min-width: 1.5rem;
  }
}
.contact .cc button {
  font-size: 2rem;
  width: 5rem;
  background: var(--background);
  border: 0;
  cursor: pointer;
  transition: all 0.2sec;
}
.contact .cc button:hover {
  opacity: 0.8;
}

footer {
  height: 100px;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
