.title-small {
  letter-spacing: 0.5rem;
  font-size: 1.7rem;
}

.text-primary {
  color: var(--primary);
}
.text-hint {
  color: var(--hint);
}

.sep {
  border: 1px solid rgb(98, 98, 98);
  width: 100%;
}

:root {
  --font-familylogo: "Rubik Doodle Shadow", "sans-serif";
  --font-family2: "Lobster", sans-serif;
  --font-family3: "Press Start 2P", sans-serif;
  --font-family4: "Dhurjati", sans-serif;
  --font-family5: "Lobster", sans-serif;
  --gris: #333533;
  --grisclair: #2a2a29;
  --beige: #fefae0;
  --rouge: #d10000;
  --rose: #ff014f;
  --backgoundaside2: #919098;
  --text: #ffffff;
  --hint: #999;
  --border: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  overflow-x: hidden;
}
* canvas {
  position: absolute;
  top: 0;
  left: 0;
}
* a {
  text-decoration: none;
  color: white;
}

/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
@keyframes neon-glow {
  from {
    opacity: 0.8;
    color: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  }
  to {
    opacity: 0.6;
    color: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 120px #fff, 0 0 140px #fff;
  }
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.container header {
  background: var(--gris);
  height: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  width: 15vw;
  border-right: black solid 3px;
  z-index: 1;
}
.container header .logo {
  margin-bottom: 50px;
  text-align: center;
}
.container header .logo a img {
  margin-top: 50px;
  height: 10rem;
  border-radius: 500px;
}
.container header .sections {
  text-align: center;
  font-size: 1.9rem;
  font-family: var(--font-family4);
  color: white;
  padding-bottom: 10rem;
}
.container header .sections ul li {
  padding-bottom: 20px;
  list-style: none;
  transition: font-size 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}
.container header .sections ul li:hover {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffffff, 0 0 70px #fefdfe, 0 0 80px #fbf7fb, 0 0 100px #fffeff;
}
.container header .sections ul li a i {
  padding-right: 0.5rem;
}
.container header .social {
  font-size: 2rem;
  width: 100%;
}
.container header .social h2 {
  color: white;
  font-family: var(--font-family4);
  font-size: 2.1rem;
  text-align: center;
}
.container header .social .social-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
}
.container header .social .social-container a i {
  width: 100%;
  display: flex;
  transition: font-size 0.1s ease-in-out, text-shadow 0.1s ease-in-out;
}
.container header .social .social-container a i:hover {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffffff, 0 0 70px #fefdfe, 0 0 80px #fbf7fb, 0 0 100px #fffeff;
}
.container .mainn {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 15vw;
}
.container .mainn .home {
  background: url(/img/background.avif) center/cover fixed;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: var(--grisclair) 2px solid;
}
.container .mainn .home h2 {
  font-size: 80px;
  color: white;
}
.container .mainn .home #text-container {
  font-family: monospace;
  font-size: 40px;
  color: #ff014f;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #f5f5f5;
}
.container .mainn .home p {
  color: white;
  font-weight: 500;
  font-size: 40px;
  transform: translate(10%, 0%);
}
.container .mainn .features {
  height: 100%;
  width: 100%;
  background-color: var(--gris);
  text-align: center;
  font-family: var(--font-family4);
}
.container .mainn .features .features-content {
  background-color: var(--gris);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: var(--grisclair) 2px solid;
  padding-bottom: 40px;
}
.container .mainn .features .features-content .item {
  background-color: var(--grisclair);
  height: 230px;
  width: 250px;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  transition: 0.2s;
}
.container .mainn .features .features-content .item:hover {
  height: 250px;
  width: 270px;
}
.container .mainn .features .features-content .item h2 {
  font-size: 30px;
  margin-bottom: 0.5rem;
  color: var(--text);
}
.container .mainn .features .features-content .item i {
  color: var(--rose);
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.container .mainn .features .features-sec {
  color: var(--rose);
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.container .mainn .features h3 {
  font-size: 40px;
  margin-bottom: 40px;
  color: var(--text);
}
.container .mainn .skills {
  padding-top: 10px;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--gris);
  align-items: center;
}
.container .mainn .skills .skills-nav {
  background: linear-gradient(to bottom right, #333533, #2a2a29);
  height: 100px;
  width: 90%;
  border: var(--gris) 2px solid;
  border-radius: 20px;
  box-shadow: 0px 4px 8px #353535;
  padding: 1px;
  position: relative;
}
.container .mainn .skills .skills-nav nav {
  width: 200px;
  height: 95px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  border: var(--gris) 1px solid;
  box-shadow: 0 0 10px 1px rgb(230, 221, 221);
}
.container .mainn .skills .skills-nav nav h2 {
  color: #f5f5f5;
}
.container .mainn .skills .bars {
  background: var(--gris);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #f5f5f5;
}
.container .mainn .skills .bars .html,
.container .mainn .skills .bars .scss {
  padding-top: 60px;
  width: 40%;
}
.container .mainn .skills .bars .html .bar-skill,
.container .mainn .skills .bars .scss .bar-skill {
  margin: 2rem 0;
  height: 5px;
  background: var(--hint);
  position: relative;
}
.container .mainn .skills .bars .html .bar-skill .bar-skill-progress,
.container .mainn .skills .bars .scss .bar-skill .bar-skill-progress {
  position: absolute;
  height: 5px;
  top: 0;
  left: 0;
  width: 80%;
  background: var(--rose);
}
.container .mainn .skills .bars .html .bar-skill .bar-skill-dot,
.container .mainn .skills .bars .scss .bar-skill .bar-skill-dot {
  position: absolute;
  height: 10px;
  width: 10px;
  background: white;
  left: calc(80% - 5px);
  top: -2.5px;
  transform: rotate(45deg);
}

/*# sourceMappingURL=style.css.map */
