.title-small {
  letter-spacing: 0.5rem;
  font-size: 1.7rem;
}

.text-primary {
  color: var(--primary);
}
.text-hint {
  color: var(--hint);
}

.sep {
  border: 1px solid rgb(98, 98, 98);
  width: 100%;
}

:root {
  --font-familylogo: "Rubik Doodle Shadow", "sans-serif";
  --font-family2: "Lobster", sans-serif;
  --font-family3: "Press Start 2P", sans-serif;
  --font-family4: "Dhurjati", sans-serif;
  --font-family5: "Lobster", sans-serif;
  --gris: #333533;
  --grisclair:#2A2A29;
  --beige:#FEFAE0;
  --rouge:#D10000;
  --rose:#ff014f;
  --backgoundaside2:#919098;
  --text: #ffffff;
  --hint: #999;
  --border: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  overflow-x: hidden;
}
* canvas {
  position: absolute;
  top: 0;
  left: 0;
}
* a {
  text-decoration: none;
  color: white;
}

/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
@keyframes neon-glow {
  from {
    opacity: 0.8;
    color: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  }
  to {
    opacity: 0.6;
    color: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 120px #fff, 0 0 140px #fff;
  }
}
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}
.container header {
  background: var(--gris);
  height: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  width: 15vw;
  border-right: black solid 3px;
  z-index: 1;
}
.container header .logo {
  margin-bottom: 50px;
  text-align: center;
}
.container header .logo a img {
  margin-top: 50px;
  height: 10rem;
  border-radius: 500px;
}
.container header .sections {
  text-align: center;
  font-size: 1.9rem;
  font-family: var(--font-family4);
  color: white;
  padding-bottom: 10rem;
}
.container header .sections ul li {
  padding-bottom: 20px;
  list-style: none;
  transition: font-size 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}
.container header .sections ul li:hover {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffffff, 0 0 70px #fefdfe, 0 0 80px #fbf7fb, 0 0 100px #fffeff;
}
.container header .sections ul li a i {
  padding-right: 0.5rem;
}
.container header .social {
  font-size: 2rem;
  width: 100%;
}
.container header .social h2 {
  color: white;
  font-family: var(--font-family4);
  font-size: 2.1rem;
  text-align: center;
}
.container header .social .social-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
}
.container header .social .social-container a i {
  width: 100%;
  display: flex;
  transition: font-size 0.1s ease-in-out, text-shadow 0.1s ease-in-out;
}
.container header .social .social-container a i:hover {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffffff, 0 0 70px #fefdfe, 0 0 80px #fbf7fb, 0 0 100px #fffeff;
}
.container .mainn {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 15vw;
}
.container .mainn .home {
  background: url(/img/background.avif) center/cover fixed;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .mainn .home h2 {
  font-size: 80px;
  color: white;
}
.container .mainn .home #text-container {
  font-family: monospace;
  font-size: 40px;
  color: #ff014f;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #f5f5f5;
}
.container .mainn .home p {
  color: white;
  font-weight: 500;
  font-size: 40px;
  transform: translate(10%, 0%);
}
.container .mainn .features {
  height: 50vh;
  width: 100%;
  background-color: var(--gris);
  text-align: center;
}
.container .mainn .features p {
  color: var(--rose);
  margin-top: 20px;
  margin-bottom: 40px;
}
.container .mainn .features h2 {
  margin-bottom: 40px;
}
.container .mainn .features .features-content {
  background-color: var(--gris);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .mainn .features .features-content .item {
  margin-top: 50px;
  background-color: var(--grisclair);
  box-shadow: #241d1f;
  height: 80%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .mainn .features .features-content .item h2 {
  text-align: center;
}
.container .mainn .features .features-content .item p {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
