.title {
  &-small {
    letter-spacing: 0.5rem;
    font-size: 1.7rem;
  }
}

.text {
  &-primary {
    color: var(--primary);
  }
  &-hint {
    color: var(--hint);
  }
}

.sep {
  border: 1px solid rgb(98, 98, 98);
  width: 100%;
}
