@use "classes" as *;
@use "variables" as *;
@use "classes" as *;
@use "reset" as *;
@use "media_queries" as *;

// header

header {
  background: linear-gradient(to right, rgb(17, 6, 6));
  display: flex;
  flex-direction: row wrap;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid;
  @include xs {
    padding: 5px;
    height: 150px;
    flex-direction: column;
    text-align: center;
  }

  .logo {
    display: flex;
    align-items: center;
    h1 {
      font-family: var(--font-familylogo);
      font-size: 2.5rem;
      padding: 0 0 0 0.5rem;
      @include xs {
        font-size: 1rem;
      }
    }
  }
  img {
    height: 90px;
    border-radius: 200px;
    @include xs {
      height: 60px;
    }
  }
  ul {
    justify-content: end;
    display: flex;
    flex-direction: row;
    li {
      list-style: none;
      margin: 0 0 0 3rem;
      transition: 0.2s;
      &:hover {
        opacity: 0.5;
        background: var(--border);
        border-radius: 0.5rem;
        padding: 0.5rem;
      }

      a {
        text-decoration: none;
        color: black;
        font-family: var(--font-family2);
        font-size: 1.5rem;
      }
    }
  }
}
// header

// main

.welcome {
  background: var(--background);
  height: 80vh;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  .welcome-content {
    text-align: center;

    p {
      padding-bottom: 1rem;
      font-size: 4rem;
      font-family: var(--font-family4);
      color: var(--text);
      @include xs {
        font-size: 2.2rem;
      }
    }
    h2 {
      padding-bottom: 0rem;
      font-family: var(--font-family3);
      font-size: 4rem;
      color: var(--text);
      color: var(--text);
      @include xs {
        font-size: 2rem;
      }
    }

    button {
      color: white;
      background: #000000;
      border: 0;
      margin: 0 15px 0 15px;
      border-radius: 0.5rem;
      font-size: 20px;
      padding: 1rem;
      cursor: pointer;
      transition: 0.2s;
      @include xs {
        font-size: 15px;
      }
      &:hover {
        opacity: 0.5;
        cursor: pointer;
        font-size: 25px;
        @include xs {
          font-size: 18px;
        }
      }
    }
    .social-icons {
      padding: 2rem;
      text-decoration: none;
      @include xs {
        padding: 1rem;
      }

      i {
        padding: 0 2rem 0 2rem;
        font-size: 3rem;
        color: #000000;
      }
    }
  }
}
.about-me {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  background: #dfdddd no-repeat;
  height: 200px;
  @include xs {
    height: 50vh;
  }
  .about-me-content {
    font-size: 1.5rem;
    @include xs {
      font-size: 1.4rem;
    }
  }
}
.h22 {
  text-align: center;
  font-size: 2.5rem;

  background: var(--background);
  @include xs {
    font-size: 2rem;
    padding: 1rem;
  }
}

.contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  height: 40vh;
  flex-direction: column;
  text-align: center;
  color: white;
  background: var(--text);
  @include xs {
  }

  .cc {
    height: 100px;
    font-size: 4rem;
    text-align: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    @include xs {
      font-size: 2rem;
    }
    h2 {
      padding-bottom: 20px;
    }
    input {
      text-align: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 20px;
      outline: 0;
      padding: 1rem 2rem;
      min-width: 400px;
      line-height: 2rem;
      font-size: 1.3rem;
      @include xs {
        font-size: 1rem;
        min-width: 1.5rem;
      }
    }
    button {
      font-size: 2rem;
      width: 5rem;
      background: var(--background);
      border: 0;
      cursor: pointer;
      transition: all 0.2sec;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
// main
// footer
footer {
  height: 100px;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
// footer
