@use "classes" as *;
@use "variables" as *;
@use "classes" as *;
@use "reset" as *;
@use "media_queries" as *;
@use "animations" as *;

// header

// header
.grid-container {
  display: grid;
  grid-template-columns: 30vh auto;
  grid-template-rows: 1fr;
  grid-template-areas: "header main";

  header {
    grid-area: header;
    background: rgb(51, 50, 50);
    height: 100%;
    width: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      display: flex;
      margin-bottom: 50px;
      justify-content: space-around;
      a {
        img {
          margin-top: 50px;
          height: 10rem;
          border-radius: 500px;
        }
      }
    }
    .sections {
      display: flex;
      flex-direction: column;
      align-self: center;
      text-align: center;
      font-size: 1.9rem;
      font-family: var(--font-family4);
      color: white;
      padding-bottom: 10rem;
      ul {
        li {
          padding-bottom: 20px;
          list-style: none;
          transition: font-size 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
          &:hover {
            font-size: 2.5rem;

            color: #fff;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 4px;
            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
              0 0 40px #ffffff, 0 0 70px #fefdfe, 0 0 80px #fbf7fb,
              0 0 100px #fffeff;
          }
          a {
            i {
              padding-right: 0.5rem;
            }
          }
        }
      }
    }
    .social {
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      width: 100%;
      h2 {
        color: white;
        font-family: var(--font-family4);
        font-size: 2.1rem;
        text-align: center;
      }
      .social-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        a {
          i {
            width: 100%;
            display: flex;
            transition: font-size 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
            &:hover {
              font-size: 2.5rem;

              color: #fff;
              text-align: center;
              text-transform: uppercase;
              letter-spacing: 4px;
              text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
                0 0 40px #ffffff, 0 0 70px #fefdfe, 0 0 80px #fbf7fb,
                0 0 100px #fffeff;
            }
          }
        }
      }
    }
  }
  // .....................
  // home
  main {
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;

    .home {
      background: url(/img/background.avif) center/cover;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      .text-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1 {
          margin: 0;
          font-size: 5em; /* Ajustez selon vos besoins */
          color: white;
        }
        h2 {
          margin: 0;
          font-size: 3.5rem; /* Ajustez selon vos besoins */
          color: white;
        }
      }

      // .....................
    }
  }
}
